/* Media Queries - Start --------------------------------------------------------*/
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
/* Media Queries - End --------------------------------------------------------*/
/* start variables  --------------------------------------------------------*/
:root {
    --background-gray--: #eee;
	--text-color: #ddd;
	--dashboard-blue: rgb(0, 117, 255);
	--dashboard-yellow: rgb(245, 158, 11);
	--dashboard-green: rgb(27, 195, 89);
	--dashboard-red: rgb(244, 67, 54);
	--dashboard-black: rgb(87, 109, 126);
	--dahsboard-text-light-black: rgb(119, 119, 119);
	--dashboard-twitter-color: rgb(29, 161, 242);
	--dashboard-facebook-color: rgb(24, 119, 242);
	--dashboard-youtube-color: rgb(255, 0, 0);
	--dashboard-linkedin-color: rgb(0, 119, 181);
	--form-color-text: rgb(153, 168, 185);
	--border-color: rgb(170, 170, 170, 0.4);
}
/* end variables --------------------------------------------------------*/
/* start box --------------------------------------------------------*/
.w-100p {
	width: 100%;
}
.h-100p {
	height: 100%;
}
.fit-content {
	width: fit-content;
}
.d-none {
	display: none;
}
.d-block {
	display: block;
}
.d-flex {
    display: flex;
}
.d-grid {
	display: grid;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* end box --------------------------------------------------------*/
/* start padding + margin --------------------------------------------------------*/
.p-0 {
	padding: 0;
}
.p-5 {
	padding: 5px;
}
.p-10 {
    padding: 10px
}
.p-15 {
	padding: 15px;
}
.p-20 {
    padding: 20px
}
.pt-20 {
	padding-top: 20px;
}
.pb-20 {
	padding-bottom: 20px;	
}
.m-0 {
	margin: 0;
}
.m-5 {
	margin: 5px;
}
.m-10 {
	margin: 10px
}
.m-15 {
	margin: 15px;
}
.m-20 {
    margin: 20px
}
.mt-0 {
    margin-top: 0
}
.mb-0 {
	margin-bottom: 0;
}
/* end padding + margin --------------------------------------------------------*/
/* start color --------------------------------------------------------*/
.bg-white {
    background-color: white
}
/* end color --------------------------------------------------------*/
/* start position --------------------------------------------------------*/
.p-relative {
    position: relative
}
.p-absolute {
	position: absolute;
}
/* end position --------------------------------------------------------*/
/* start font --------------------------------------------------------*/
.txt-c {
    text-align: center
}
.fs-8 {
    font-size: 8px
}
.fs-9 {
    font-size: 9px
}
.fs-10 {
    font-size: 10px
}
.fs-11 {
    font-size: 11px
}
.fs-12 {
    font-size: 12px
}
.fs-13 {
    font-size: 13px
}
.fw-bold {
	font-weight: bold;
}
/* end font --------------------------------------------------------*/
/* start border --------------------------------------------------------*/
.rad-6 {
    border-radius: 6px
}
.rad-50p {
	border-radius: 50%
}
/* end border --------------------------------------------------------*/
/* start progress --------------------------------------------------------*/
span.unknown {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
    border-radius: 5px;
}
span.unknown::after {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    top: -100%;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--main-color);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}
/* end progress --------------------------------------------------------*/
/* start animation --------------------------------------------------------*/

/* end animation --------------------------------------------------------*/
/* start component --------------------------------------------------------*/
.container-grid {           /* set the container into grid system */
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
	margin: 20px;
	margin-bottom: 15px;
}
.container-title {          /* title of the whole page */
    padding: 20px;
	padding-bottom: 0;
	text-transform: capitalize;
	font-weight: bolder;
	font-size: 1.7em;
	line-height: 2;
	text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
div.box-heading p {
	margin-top: 7px;
	color: var(--dahsboard-text-light-black);
	font-size: 12px;
}
.gray-boxing {
    font-size: 9px;
	padding: 4px;
	background-color: var(--background-gray--);
	border-radius: 4px;
}
.box-heading {
    text-transform: capitalize;
	font-size: 100%;
	margin-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
button { 
	text-transform: capitalize;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px 8px;
	font-size: 12px;
    cursor: pointer;
}
/* Component - Change button --------------------------------------------------------*/
a.change-button {			
	display: inline-block;
	text-transform: capitalize;
	color: var(--dashboard-facebook-color);
	margin-left: 10px;
	font-size: 12px;
	font-weight: 500;
    padding: 5px 7px;
	border-radius: 4px;
	font-weight: 600;
}
/* start toggle component --------------------------------------------------------*/
input.toggle-checkbox {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
label.toggle {
	display: flex;
}
label.toggle div.toggle-shift {
	width: 50px;
	height: 24px;
	background-color: var(--background-gray--);
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	transition: 0.2s;
}
div.toggle-shift::after {
	content: "";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	position: absolute;
	left: 4px;
	top: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgb(170, 170, 170, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.15s;
}
input.toggle-checkbox:checked + div.toggle-shift {
	background-color: rgb(0, 117, 255, 0.9);
}
input.toggle-checkbox:checked + div.toggle-shift::after {
	left: 30px;	
}
/* end toggle component */
/* end component --------------------------------------------------------*/